.container {
    position: relative;
    width: 600px;
    margin: 0 auto;
    color: #575e72;
    background: #262b37;
    padding: 30px;
    text-align: center;
}
button {
    width: 150px;
    height: 40px;
    padding: 0;
    margin: 20px 10px;
    background: #00bdbd;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    color: #FFF;
    line-height: 16px;
    text-align: center;
}

button:hover {
    background: #00dc7c;
    color: #FFF;
}

button {
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

p {
    margin: 5px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #FFF;
    line-height: 30px;
}